[submodule "sale_order_line_no_currency_exchange"]
	path = sale_order_line_no_currency_exchange
	url = https://github.com/humanytek-team/sale_order_line_no_currency_exchange
[submodule "bom_comments"]
	path = bom_comments
	url = https://github.com/humanytek-team/bom_comments
[submodule "pky_sale_quotation_generator"]
	path = pky_sale_quotation_generator
	url = https://github.com/humanytek-team/pky_sale_quotation_generator
