[submodule "sale_order_line_no_currency_exchange"]
	path = sale_order_line_no_currency_exchange
	url = https://github.com/humanytek-team/sale_order_line_no_currency_exchange
[submodule "bom_comments"]
	path = bom_comments
	url = https://github.com/humanytek-team/bom_comments
[submodule "pky_sale_quotation_generator"]
	path = pky_sale_quotation_generator
	url = https://github.com/humanytek-team/pky_sale_quotation_generator
[submodule "purchase_product_cost_currency"]
	path = purchase_product_cost_currency
	url = https://github.com/humanytek-team/purchase_product_cost_currency
[submodule "product_price_visible_for_sale_purchase_users"]
	path = product_price_visible_for_sale_purchase_users
	url = https://github.com/humanytek-team/product_price_visible_for_sale_purchase_users
[submodule "pky_pvc_sale_prices_generator"]
	path = pky_pvc_sale_prices_generator
	url = https://github.com/humanytek-team/pky_pvc_sale_prices_generator
[submodule "project_task_units_done"]
	path = project_task_units_done
	url = https://github.com/humanytek-team/project_task_units_done
